<a href="https://colab.research.google.com/github/maancham/Research-Materials/blob/main/Dataset_extension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
%%capture
!pip install wget
!pip install csv2tsv
import wget

### ML-100k, for testing

In [5]:
%%capture
wget.download('https://files.grouplens.org/datasets/movielens/ml-latest-small.zip')
!unzip ml-latest-small.zip

In [14]:
small_df = pd.read_csv('/content/ml-latest-small/ratings.csv')

new_user_df = pd.read_csv('/content/drive/MyDrive/research/new user ratings/new_user_houmch.csv', 
                          index_col=0)
new_ratings = new_user_df[['userId', 'movieId', 'rating', 'timestamp']]

In [15]:
new_small_df = pd.concat([small_df, new_ratings])
assert(len(small_df) + len(new_user_df) == len(new_small_df))

In [23]:
col_names = ['user_id:token','item_id:token','rating:float', 'timestamp:float']
new_small_df.columns = col_names
new_small_df

     user_id:token  item_id:token  rating:float  timestamp:float
0                1              1           4.0        964982703
1                1              3           4.0        964981247
2                1              6           4.0        964982224
3                1             47           5.0        964983815
4                1             50           5.0        964982931
..             ...            ...           ...              ...
595              0         274971           4.0       1663765748
596              0         275243           3.0       1663499645
597              0         275467           5.0       1663765763
598              0         276317           3.5       1663765755
599              0         276929           3.5       1663594761

[101436 rows x 4 columns]

In [26]:
file_name = 'ml-100k.inter'
path = 'drive/MyDrive/research/atomic files/' + file_name
new_small_df.to_csv(path, sep="\t", index=False)